<div style="background-color:#EEF66C; height:1000px; width:100%">
<div class="container-fluid">
<h1>Android Devices</h1>
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query" ng-change="refreshiScroll()" >
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
	
    <div id="wrapper" ng-iscroll ng-iscroll-delay="100" ng-iscroll-form="true">
		<div id="scroller">
			<ul id="thelist" class="phones">
				
				<li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail" style="height:200px; background-color:#aaaaaa;">
				  <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
				  <b><span style="font-size:16pt;">{{phone.name}}</span></b>
				  <p>{{phone.snippet}}</p>
				</li>
			
		   </ul>	   
	   </div>
	   
    </div>
	
	
  </div>
</div>
</div>
